/* .starred-checkbox {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
}
.starred-checkbox:before {
   content: "\f005";
   position: absolute;
   visibility:visible;
}
.starred-checkbox:checked:before {
   content: "\f006";
   position: absolute;
} */

.expended-mail {
   background-color: var(--white);
   padding: 10px;
}

/* .main-mail-preview{
   display: flex;
   flex-direction: row;

   padding: 10px;
   border-bottom: 1px solid var(--ptxt2);
   cursor: pointer;
  
} */
.star-btn,
.trash-btn,
.expant-btn,
.note-btn,
.back-btn {
   border: none;
   background-color: var(--white);
   /* background-color: none; */
   cursor: pointer;
}

.main-mail-preview {
   display: grid;
   /* grid-template-columns: 0.2fr 1fr 1fr; */
   border-bottom: 1px solid var(--bottom-line);
   cursor: pointer;
}

.main-mail-preview:hover {
   background-color: var(--list-bg-color-hover);
}

.starred-checkbox {
   background-color: transparent;
   border: none;
   cursor: pointer;
}

.main-mail-preview> :last-child {
   grid-area: date-email;
   justify-self: end;
}

/* .main-mail-preview > :first-child,
.main-mail-preview > :nth-child(3) {
   flex-grow: 1;
}

.main-mail-preview > :nth-child(2),
.main-mail-preview > :nth-child(4) {
   flex-grow: 2;
} */
/* .from-email, .email-subject, .date-email{
 width:25%;
} */

.list-sender-image {
   flex-direction: column;
}

.expended-mail button {
   margin: 5px;
}

.fa-star {
   color: var(--yellow);
   /* font-size: 20px; */
   cursor: pointer;
}

.unread {
   font-weight: bolder;
}

.main-pereview-expended {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding-right: 20px;
   /* border-bottom: 1px solid var(--bottom-line); */
}