/* .starred-checkbox {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
}
.starred-checkbox:before {
   content: "\f005";
   position: absolute;
   visibility:visible;
}
.starred-checkbox:checked:before {
   content: "\f006";
   position: absolute;
} */


.expended-mail{
   background-color: var(--white);
   padding:10px;
}

.main-mail-preview{
   display: flex;
   flex-direction: row;
   /* justify-content: start; */
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   border-bottom: 1px solid var(--ptxt2);
   cursor: pointer;
  
}

.from-email, .subject-email, .date-email{
 width:25%;
}

.expended-mail button{
   margin: 5px;
}

.fa-star{
   color: var(--yellow);
   /* font-size: 20px; */
   cursor: pointer;
}


.unread{
   font-weight: bolder;
}