.main-page-container{
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 5%;
    text-align: center;
    
}


.mail-container, .notes-container, .books-container {
    display: flex;
    flex-direction: column;
border: 2px solid var(--border-color);
padding: 50px 100px 50px 100px;
/* padding: 5vh 10vw 5vh 10vw; */
   border-radius: 18px;
   align-items: center;
}

.main-page-container{
    margin: 5% auto ;
    width:80vw;
}