.note-list{
    columns: 4;
    column-width: 200px ;
    max-width: 1000px;
    padding: 60px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

}

iframe{
    max-width: 100%;
}

.note-list>li{
    align-self: center;
    justify-self: center;
    border: 1px solid gray;
    min-height: 200px;
    text-align: center;
    padding: 1em;
    position: relative;
    margin-bottom: 20px;
    break-inside: avoid-column;
    width: fit-content;
    min-width: 200px;
    border-radius: 1em;
    padding-bottom: 3em;

    
}

.note-list>li .note-btns{
    display: none;
}

.note-list>li:hover .note-btns{
    display: flex;
}

.edit-modal{
    position: fixed;
    border: none;
    width: fit-content;
    height: fit-content;
    translate: -50%;
    left: 50%;
    transform: translateY(50%);
    bottom: 50%;
    background-color: white;
    z-index: 999;
}