.main-layout{
    /* display: flex;
    flex-direction: row; */
  /* align-items: center; */
    /* width: 100vw; */
}

.side-bar{
    width:13vw;
    /* padding: 0px 12px 0px 16px; */
    /* border-right: 1 px solid black; */
}

.side-bar-item{
    display: flex;
    width: 20vw;
    height: 4vh;
    margin: 0;
    padding: 0;
    list-style: none;
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
    line-height: 2vh;
    /* font-size: 1.25em; */
    font-weight: bold;
    cursor: pointer;
}

.compose-btn{
    /* border: none; */
    border-radius: 30px;
    padding: 10px 40px 10px 40px ;
    border: 1px solid var(--border-color2);
    /* background: linear-gradient(to right, #FF00FF, #0000FF, #660099); */

    cursor: pointer; 
}

.side-bar-item:hover{
    background-color: var(--mail-list-color);
}

