.main-layout{
    /* display: flex;
    flex-direction: row; */
  /* align-items: center; */
    /* width: 100vw; */
}

.side-bar{
    width:13vw;
}

.side-bar-item{
    display: flex;
    width: 20vw;
    height: 4vh;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    line-height: 2vh;
    font-weight: bold;
    cursor: pointer;
}

.compose-btn{
    border-radius: 30px;
    padding: 10px 40px 10px 40px ;
    border: 1px solid var(--border-color2);
    cursor: pointer; 
}

.side-bar-item:hover{
    background-color: var(--mail-list-color);
}

